@import url(https://fonts.bunny.net/css?family=tektur:500);

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    font-family: 'Tektur', serif;
}

:root {
    color-scheme: light dark;
    font-size: 1.125rem;

    --fg-color: black;
    --bg-color: white;
    --error-color: red;

    --main-width: 35%;
    --gradient-offset: var(--main-width);

    --direction: to right;
    --bg-pos-start: right;
    --bg-pos-end: left;
}
@media screen and (prefers-color-scheme: dark) {
    :root {
        --fg-color: white;
        --bg-color: black;
    }
}
@media screen and (max-width: 1400px) {
    :root {
        --main-width: 40%;
    }
}
@media screen and (max-width: 1000px) {
    :root {
        --main-width: 50%;
    }
}
@media screen and (max-width: 700px) {
    :root {
        --main-width: 100%;
        --gradient-offset: 70vh;

        --direction: to top;
        --bg-pos-start: top;
        --bg-pos-end: bottom;

        font-size: 1rem;
    }
}

body {
    color: var(--fg-color);
    background-color: var(--bg-color);
    min-height: 100svh;
    width: 100vw;

    background-image: linear-gradient(var(--direction), var(--bg-color) var(--gradient-offset), transparent),
        url('../images/background-light.svg');
    background-size: 100% 100%, 10vmax;
    background-repeat: no-repeat, repeat;
    animation: bgMove 30s linear infinite;
}
@media screen and (prefers-color-scheme: dark) {
    body {
        background-image: linear-gradient(var(--direction), var(--bg-color) var(--gradient-offset), transparent),
            url('../images/background-dark.svg');
    }
}
@keyframes bgMove {
    0% {
        background-position: var(--bg-pos-start);
    }
    100% {
        background-position: var(--bg-pos-end);
    }
}

.main,
form,
form > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form {
    gap: .5em;
}


.main {
    width: var(--main-width);
    min-height: 100svh;
    padding: 5%;

    gap: 1em;
}
@media screen and (max-width: 700px) {
    .main {
        padding: 10%;
        padding-top: calc(100vh - var(--gradient-offset) - 10vh);
        justify-content: flex-start;
    }
}
.main > * {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
}

h1 {
    margin-bottom: .25em;
}

label {
    margin-bottom: 0.3em;
    transform: scale(0.85);
    transform-origin: 0% 100%;
    transition-property: transform, opacity;
    transition-duration: 300ms;
}
label:has(+ input:placeholder-shown) {
    background: transparent;
    transform: translateX(.6em) translateY(2.2em);
    opacity: 0.5;
    cursor: text;
}

input {
    background: #f0f0f0;
    padding: .6em;
    outline: 2px solid var(--bg-color);
    transition-property: outline-color;
    transition-duration: 300ms;
    font-size: inherit;
}
@media screen and (prefers-color-scheme: dark) {
    input {
        background: #272727;
    }
}
input:focus {
    outline-color: var(--fg-color);
}
input:user-invalid {
    outline-color: var(--error-color);
}

div:has(> .password_error) ::after {
    content: "* Passwords do not match";
    color: var(--error-color);
}
div:has(> .password_error) input {
    border-color: var(--error-color);
}

button {
    background-color: var(--fg-color);
    color: var(--bg-color);
    margin-top: 2em;
    padding: .5em;
    font-size: inherit;
}

a {
    color: var(--fg-color);
}
a:hover {
    text-decoration: none;
}
